* {
    padding: 0;
    margin: 0;
    font-size: 100%;
    line-height: 1em;
}

body {

    width: 75%;

    max-width: 650px;

        min-height: 320px;

        font-size: 100%;

        font-family: 'Raleway', monospace;

        margin: auto;
line-height: 1.8em;
    background-image: url(../images/background3.jpg);}

article { 
    background: rgba(255, 255, 255, 0.9);
    width: 100%;
    padding-right: 1.5em;
    padding-left: 1.5em;
    box-decoration-break: 6px 4px 4px #888888;
    margin-top: 1em;
    }

 /*-----------------------------*/ 




h1 {

font-weight: bolder;
    font-size: 5em;
    float: right;
    color: darkred;
    font-family: 'Keania One', cursive;
    color; #darkred;
margin-left: .5em;
}

h2 {
    
    font-weight: normal;
    color: darkred;
    font-size: 3em;
    text-align: left;
    padding-top: 3em;
    padding-bottom: 5em;
    font-family: 'Keania One', cursive;
    border-bottom: 1px solid darkblue;
}
    

    

    .intro {

    font-size:1.4;

    line-height: 1.9em;

    padding: 2em 0 2em 0}

    

 /*-----------------------------*/   

    blockquote{

    

    padding: 2em 0 2em 0;

    font-size: 1.75em;
        margin:0;
        color:darkred;
text-align: center;
    line-height: 1.5em;


    

    /* -------------LINKS ----------*/

    

    a {

    color: #000000;

    text-decoration: underline;

    }

    

    .anchor a{color:aqua;}

    

    

    /*-----------------NAV-------------*/

    
nav {
        border-top: 1px solid #333;
        border-bottom: 1px solid #333;
    display: inline;
}
    
    
nav ul {
    text-align: center; 
    text-transform: uppercase;
    letter-spacing: 2px;
    }
    

    nav ul li {
	display: inline;
	margin: 2px;
	text-align: center;

	}
    
    li { display: inline;
    
    }
