*{
    padding: 0;
    margin:0;
    font-size:100%;
    line-height: 1em;
}

body {
    width: 100%;
    max-width: 700px;
    min-height: 320px;
    font-size: 100%;
    font-family: 'Raleway', sans-serif
    margin: auto;
    background-image: url(../images/background3.jpg);
    line-height: 2em;}
    
    article { 
    background: rgba(255, 255, 255, 0.9);
    width: 100%;
    padding-right: 1.5em;
    padding-left: 1.5em;
    
    margin-top: 1em;
    margin-top: 1em;

}

section {padding: 2em 0 2em 0}

/*---------------HEADINGS---------------*/


    


h1 {
    font-weight: bold;
    font-family: 'Keania One', cursive;
color: darkred;
line-height: 1.5em;
text-align: centre;
    border-top: 1.5px solid darkblue;
    border-bottom: 1.5px solid darkblue;
}

h2 {
    font-weight: normal;
    font-family: 'Keania One', cursive;
    color: darkblue;
    text-align: centre;
    
}
h1 {font-size: 15}
h2 {font-size: 5}



p {
    font-weight: normal;
color: black;
    line-height: normal;
    text-align: center;
    
} 